.header{
  background-color: white;
  border-bottom: solid purple;
  .account_setting_button{
    margin-left: auto;
    .account_icon{
      border-radius: 100%;
      width: 40px;
      height: 40px;
    }
  }
  .title{
    font-size: 30px;
  }
}
