@use "src/styles/styles";


.codelist_top{
  display: flex;
  justify-content:space-around;
}

.new_create_button{
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  background-color: purple;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.codelist_top .h1{
  margin: auto;
  text-align: center;
}

.filter{
  display: flex;
  justify-content: flex-end;
}

.filter_button{
  margin-right: 15px;
  color: purple;
}

.codelist_all_image{
  width: 100%;
  display: block;
}

ul{
  list-style: none;
  display: flex;
}

ul li{
  width: 50%;
  text-align: center;
}


.container {
  @include styles.container;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
  .page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    .propose-btn{
      margin: 10px;
      margin-left: 20px;
      margin-right: auto;
    }
  }
  .clothes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .example-card {
      flex: 1,1;
      display: block;
      // margin-left: 5px;
      // margin-right: 10px;
      width: 40%;
      height: auto;
      margin: 5px;
    }
    .mat-card-actions{
      margin-left: 120px;
    }
    .tags{
      display: flex;
      align-items: center;
    }
    .ellipsis{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}
