<app-header></app-header>
<div class="container">
  <div class="page-title">
    <button mat-icon-button class="back" routerLink="/clothes-list">
      <mat-icon>
        arrow_back_ios_new
      </mat-icon>
      戻る
    </button>
    <h2 class="title">コーデ</h2>
  </div>
  <div class="clothes">
      <div>
           <img class="image" src={{clothes.cloth}}>
      </div>
  </div>
    <div class="editor">
      <div class="detail-title">
        コーデ情報
      </div>
      <table class="clothes-details-table">
        <tr>
            <th>サイズ</th>
            <td>{{clothes.all_details[0]}}</td>
        </tr>
        <tr>
            <th>ブランド<br>(トップス)</th>
            <td *ngIf="clothes.all_details[1]==='null' || clothes.all_details[1]==='NULL'">なし</td>
            <td *ngIf="clothes.all_details[1] !='null' && clothes.all_details[1] !='NULL'">{{clothes.all_details[1]}}</td>
        </tr>
        <tr>
            <th>ブランド<br>(ボトムス)</th>
            <td *ngIf="clothes.all_details[2]==='null' || clothes.all_details[2]=== 'NULL'">なし</td>
            <td *ngIf="clothes.all_details[2] != 'null' && clothes.all_details[2] != 'NULL'">{{clothes.all_details[2]}}</td>
        </tr>
        <tr>
            <th>季節</th>
            <td>{{clothes.temperatures}}</td>
        </tr>
        <tr>
            <th>天気</th>
            <td>{{clothes.weathers}}</td>
        </tr>
        <tr>
            <th>イベント</th>
            <td>{{clothes.all_events}}</td>
        </tr>
      </table>
    </div>
</div>
<app-footer></app-footer>
