<app-header></app-header>
<div class="container">
  <div class="page-title">
    <button mat-icon-button class="back">
      <mat-icon>
        arrow_back_ios_new
      </mat-icon>
      戻る
    </button>
    <h2 class="title">コーデ</h2>
  </div>
  <div class="clothes">
      <div>
           <img class="image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </div>
  </div>
    <div class="editor">
      <div class="detail-title">
        コーデ情報
      </div>
      <table class="clothes-details-table">
        <tr>
            <th>サイズ</th>
            <td>160cm</td>
        </tr>
        <tr>
            <th>ブランド<br>(トップス)</th>
            <td>アディダス</td>
        </tr>
        <tr>
            <th>ブランド<br>(ボトムス)</th>
            <td>アーノルドパーマー</td>
        </tr>
        <tr>
            <th>季節</th>
            <td>夏</td>
        </tr>
        <tr>
            <th>天気</th>
            <td>雨</td>
        </tr>
        <tr>
            <th>イベント</th>
            <td>買い物</td>
        </tr>
      </table>
    </div>
</div>
<app-footer></app-footer>
