<div classs="codelist_contents">
    <div class="filter">
        <button class="filter_button" mat-icon-button matTooltip="Basic" color="primary" aria-label="Example icon-button with a heart icon">
            <span class="material-icons">filter_alt</span>
        </button>
    </div>
    <div class="codelist_top">
        <h1>コーデ一覧</h1>  
        <button class="new_create_button" mat-flat-button color="primary">新規作成</button>
    </div>

    <div class="codelist_all_image">
        <ul>
            <li>
                <img src="/frontend/src/IMG_7733.jpg" class="codelist_image">
            </li>
            <li>
                <img src="/IMG_7733.jpg" class="codelist_image">
            </li>
        </ul>
        
    </div>
</div>