.footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: purple;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    text-align: center;
  }
  
  .icon-field {
    width: 50%;
  }
  
  .mat-icon {
    height: 32px;
    width: 50px;
    font-size: 36px;
    padding-top: 3px;
  }
  
  .icon-text {
    font-size: 12px;
  }

  .material-icons{
    height: 32px;
    width: 50px;
    font-size: 36px;
    padding-top: 3px;
  }
  
  