
<div class="footer">
    <div class="icon-field">
        <button  mat-button routerLink="/clothes-list">
            <span class="material-icons" >home</span>
            <div class="icon-text">ホーム</div>
        </button>
    </div>
    <div class="icon-field">
        <button  mat-button>
            <span class="material-icons">groups</span>
            <div class="icon-text">タイムライン</div>
        </button>
    </div>
    <div class="icon-field">
        <button  mat-button>
            <span class="material-icons">favorite</span>
            <div class="icon-text">お気に入り</div>
        </button>
    </div>
</div>
